@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";

////////////////////////////////////////


// top


////////////////////////////////////////


///////////////////////

// module

///////////////////////


.imgInFrame{
    overflow: hidden;
    position: relative;


    img{
        width: 110%;
        height: auto;

        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }    

    .mask,
    .mask__element,
    .fade,
    .fade__element{
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }
}



.section{
    display: flex;
    align-items: center;

    position: relative;

    @include mq( tab ){
        margin-bottom: $space_l_sp;
    }    

    &[style *= "height" ]{
        display: flex;
        align-items: center;
    }

    &__index{
        margin-bottom: $space_s;
        @include mq(768, min, height) {
            margin-bottom: $space_m;
        }

        &__en{
            margin-bottom: 20px;
            line-height: 1;
            color: $gray;
            font-weight: 200;
            font-size: $fontsize_index_m;
            font-family: $fontFamily_en;

            @include mq(sp) {
                font-size: $fontsize_m_sp;
                margin-bottom: 10px;
            }

        }
        &__ja{
            font-feature-settings: "palt";
            font-size: $fontsize_index_m;
            font-weight: bold;

            @include mq(sp) {
                font-size: $fontsize_m_sp;
            }
        }
    }

    &__ticker{
        width: 100%;
        height: 1em;
        line-height: 1;
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: -0em;
        opacity: 0.8;
        color: #f7f7f7;
        font-size: 15rem;
        font-family: $fontFamily_en;
        font-weight: 400;
        overflow: hidden;
        mix-blend-mode: overlay;
        display: block;

        animation: marqueeee 65s linear infinite;
        background-position: left center;
        background-repeat: repeat-x;
        background-size: auto 100%;


        @include mq( 1920, min ){
            font-size: 17vw;
        }

        @include mq( sp ) {
            font-size: 8rem;
        } 
    }
}




///////////////////////

// mainvisual

///////////////////////

.mv{

    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;


    &__copy{
        font-feature-settings: "palt";
        position: relative;
        z-index: 5;
    }


    &__index{
        margin-bottom: $space_m;
        font-weight: bold;
        font-size: $fontsize_index_m;

        @include mq( sp ){
            margin-bottom: 0;
            font-size: $fontsize_index_m_sp;
        }


       .mv__copy__line{
            margin-bottom: 0.5em;     


            @include mq( tab ){
                line-height: 1.65;
                margin-bottom: 0;
            }                   
        }         
    }


    &__content{
        // font-weight: bold;
        font-size: $fontsize_m;  

        @include mq( 320 ){
            font-size: 1em;
        }


        .mv__copy__line{
            margin-bottom: 1em;   

            &:last-child{
                margin-bottom: 0;
            }         
        }
    }

    &__copy__line{
        line-height: 1;
        padding: 5px;
        position: relative;
        // position: absolute;
        display: inline-block;

        @include mq( tab ){
          padding: 0;
          line-height: 2;
        }
        @include mq( 320 ){
          line-height: 1.85;
        }



        // &:after{
        //     content: " ";
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     left: 0;
        //     display: block;
        //     transition: transition();
        //     opacity: 0.9;
        //     background-color: #ffffff;

        //     @include mq( tab ){
        //         display: none;
        //     }
        // }

        .mask{
            position: relative;
            z-index: 2;
        }
    }



    &__img{
        width: percentage( 956 / 1366 );
        height: 0;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: #{( 668 / 768 * 100 )}vh ;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: percentage( 40 / 1366 );
        bottom: 0;
        transition: transition();

        @include mq( tab ){
            width: 90%;
            padding-top: 95vh;
            right: 0;
        }


        .videoElement{
            // width: 100%;
            height: auto;
            margin: auto;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.15;


    		@include mq( 1920,min ){
                height: 100%;
                width: auto;
            }
    		@include mq( tab ){
                height: 100%;
                width: auto;
            }            
        }


        .mask{

            &,
            &__element {
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
            }
            &:before{
                background-color: #ffffff;
                animation-delay: 0.75s;
            }
            &__element{
                overflow: hidden;
                transition-delay: 0.65s;
            }
        }
        .imgElement{
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: url(../img/mv-video-poster.jpg) left center no-repeat;
          background-size: auto 100%;
          


        }
    }

}



/////////////////////////

// vision

/////////////////////////

.section--vision{

    .wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mq( tab ){
            flex-direction: column;
            // align-items: flex-start;
            justify-content: stretch;
        }
    }

    .visionContent{
        padding-right: 100px;

        @include mq(tab) {
         padding-right: 0;
         margin-bottom: $space_s_sp;
        }

        p:first-child{
            margin-top: 0;
        }

        .section__content{
            line-height: 2;
            @include mq(tab, min ) {
                @include mq( 768, min, height){
                    font-size: $fontsize_m;
                }
            }
        }
    }

    .visionImg{
        width: percentage( 613 / (1366*0.9));
        padding-top: 78vh;
        overflow: hidden;
        position: relative;

        @include mq( tab ) {
            width: 100%;
            padding-top: percentage( 613 / 600 );
        }


        img{
            width: 110%;
            height: auto;

            margin: auto;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .mask{        
            &:before {
                // background-color: #ffffff;
                animation-delay: 0.75s;
            }

            &__element {
                overflow: hidden;
                transition-delay: 0.65s;
            }
        }        
    }

    .section__ticker{
      background-image: url(../img/vision-marquee.svg);
    }

}



/////////////////////////

// services

/////////////////////////

.section--services{

    .inner{
        max-width: 1070px;
        margin-right: auto;
        margin-left: auto;

        @include mq( 1921, min ){
            max-width: percentage(1070/1366);
        }
    }

    .services{
        display: flex;

        @include mq( sp ){
            flex-direction: column;
        }        


        .service{
            width: 100%;
            text-align: center;
            list-style: none;

            &:first-child{
                margin-right: 70px;

                @include mq( sp ) {
                    margin-right: 0;
                    margin-bottom: $space_m_sp;
                }

            }

            &__index{
                width: 100%;
                padding: 40px;
                box-sizing: border-box;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                z-index: 2;

                @include mq( sp ) {
                    padding: 25px;
                }


                &__en{
                    line-height: 1;
                    margin-top: 0;
                    font-family: $fontFamily_en;
                    font-size: $fontsize_m;
                    transition: transition(all, 0.5s );
                }
                &__ja{
                    font-weight: bold;
                    font-size: $fontsize_index_s;
                    transition: transition(all, 0.5s );

                    @include mq(sp) {
                        font-size: $fontsize_index_s_sp;
                    }

                }
            }

            &__img{
                width: 100%;
                height: 0;
                margin-bottom: $space_s;
                overflow: hidden;
                padding-top: 300px;
                box-sizing: border-box;
                position: relative;
                // padding: 40px;

                @include mq( 768, max, height ){
                    padding-top: 180px;
                }
                @include mq(sp) {
                    padding-top: 200px;
                }


            }

            .imgInFrame{
                width: 100%;
                padding-top: 60% ;
                position: absolute;
                top: 0;
            }



            &__content{
                display: inline-flex;
            }



            &__details{
                text-align: left;

            }

            &__detail{
                line-height: 1;
                position: relative;
                margin-bottom: 2em;
                list-style: none;


                &__index{
                    margin-bottom: 1em;
                    font-weight: bold;

                    &:before{
                        content: " ";
                        width: 2px;
                        height: 2px;
                        margin-right: 1em;
                        display: inline-block;
                        vertical-align: middle;
                        border-radius: 4px;
                        background-color: $basefontColor;
                    }
                }

                &__work{
                    text-indent: 1.5em;
                }
            }
        }
    }

    .section__ticker {
      background-image: url(../img/services-marquee.svg);
    }
}



/////////////////////////

// faetures

/////////////////////////

.section--features{

    .inner{
        @include mq( 1921, min ){
            max-width: percentage(1070/1366);
        }
    }

    .features{
        margin-top: $space_s*-1;   
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;

        .feature{
            width: calc( 50% - 20px );
            margin-top: $space_s;
            padding-bottom: $space_m;
            list-style: none;
            position: relative;
        
            @include mq(768, max, height) {
                margin-top: 30px;
                padding-bottom: 30px;
            }

            @include mq(sp) {
                width: 100%;
                margin-top: 30px;
            }


            &:after{
                content: "";
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: $color_border;
            }

            &:nth-child( odd ){
                margin-right: $space_s;

                @include mq(sp) {
                    margin-right: 0px;
                }

            }


            &__index{
                margin-bottom: $space_s;
                box-sizing: border-box;

                @include mq(sp) {
                    margin-bottom: $space_s_sp;

                }


                &__en{
                    line-height: 1;
                    margin-top: 0;
                    font-family: $fontFamily_en;
                    font-size: $fontsize_l;
                    color: #666666;
                    transition: transition(all, 0.5s );

                    @include mq(sp) {
                        font-size: $fontsize_m_sp;
                        margin-bottom: 10px;
                    }

                }
                &__ja{
                  line-height: 1;
                    font-weight: bold;
                    font-size: $fontsize_index_s;
                    transition: transition(all, 0.5s );

                    @include mq(sp) {
                        font-size: 1em;
                    }

                }
            }

            &__img{
                width: 100%;
                height: 0;
                margin-bottom: $space_s;
                overflow: hidden;
                padding-top: 300px;
                box-sizing: border-box;
                position: relative;
                // padding: 40px;

            }

            .imgInFrame{
                width: 100%;
                padding-top: 60% ;
                position: absolute;
                top: 0;
            }



            &__content{
                display: inline-flex;
            }



            &__details{
                text-align: left;

            }

            &__detail{
                line-height: 1;
                position: relative;
                margin-bottom: 2em;
                list-style: none;


                &__index{
                    margin-bottom: 1em;
                    font-weight: bold;

                    &:before{
                        content: " ";
                        width: 2px;
                        height: 2px;
                        margin-right: 1em;
                        display: inline-block;
                        vertical-align: middle;
                        border-radius: 4px;
                        background-color: $basefontColor;
                    }
                }

                &__work{
                    text-indent: 1.5em;
                }
            }
        }
    }

    .section__ticker {
      background-image: url(../img/features-marquee.svg);
    }
}



/////////////////////////

// conact

/////////////////////////

.section--contact{

    .contactHere{
        width: percentage( 850 / 1366 );
        height: 500px;
        display: flex;
        align-items: center;
        margin-right: auto; 
        margin-left: auto;
        position: relative;
        overflow: hidden;

        @include mq( 1366 ){
            height: 300px;
        }

        @include mq(tab) {
            width: 100%;
            height: 250px;
        }



        .button{
            width: percentage( 600/850 );
            min-width: 300px;
            height: 150px;
            font-size: $fontsize_xl;

            @include mq(tab) {
                height: 80px;
                font-size: $fontsize_m_sp;
            }

        }


        &__text{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;
            bottom: 0;

            p{
                margin-top: $space_s;
                margin-bottom: calc( -1em - #{$space_s} );

                @include mq(sp) {
                    margin-bottom: calc(-1em - #{$space_s});
                }           

                .mask {
                    &:before {
                        // background-color: #ffffff;
                        animation-delay: 0.75s;
                    }

                    &__element {
                        overflow: hidden;
                        transition-delay: 1s;
                    }
                }
            }            
        }

        &__bg{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            
        }



        .mask{
            &,
            &__element{
                display: block;
            }

            .videoElement{
                width: 100%;
                height: auto;

                @include mq( tab ){
                    width: auto;
                    height: 100%;
                }

            }
            &:before{
                background-color: #ffffff;
            }
        }

        .videoElement {
            opacity: 0.15;
        }        
    }

    &.-on {
        .mask {
            &:before {
                content: " ";
                left: auto;
                right: 0;
                animation: maskmove 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.15s 1 normal;
            }

            &__element {
                white-space: normal;
                display: inherit;
                transform: translateX(0%);
            }
        }
    }
   
}



/////////////////////////

// about

/////////////////////////

.section--about {

    .section__child{
        margin-top: #{(100/14)}em;
        margin-bottom: #{(100/14)}em;

        @include mq( tab ){
            margin-right: auto;
            margin-left: auto;
        }
    }

    .companyInfoTable{
        width: 100%;
        border-collapse: collapse;

        &__th,
        &__td{
            padding-top: #{(30/14)}em;
            padding-bottom: #{(30/14)}em;
            border-bottom: 1px solid $color_border;
        }

        &__th{
            width: 10em;
            text-align: left;
            font-family: $fontFamily_en;
            vertical-align: top;
            font-weight: bold;

            @include mq( sp ){
                width: 140px;
            }
        }
    }

    .partners{
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        li{
            list-style: none;

            &:not( :last-child ):after{
                content: ",";
                margin-left: 5px;
                margin-right: 1em;
                display: inline-block;
                vertical-align: text-bottom;
            }
        }
    }


      .logos {
          display: flex;
          flex-wrap: wrap;
          align-items: baseline;

          li {
            padding: 10px;
            border: 1px solid $color_border;
            list-style: none;
          }
        }

}