<section id="contact" class="section section--contact js-effect">
    <div class="wrap">
        <div class="contactHere">
            <div class="contactHere__text">
                <div class="button"><a href="">CONTACT US</a></div>
                <p>お気軽にお問い合わせください。</p>
            </div>
            <div class="contactHere__bg">
                <span class="mask"><span class="mask__element"><video autoplay loop src="/assets/img/mv-video.mp4" /></span></span>
            </div>

        </div>
    </div>
</section>