<section id="contact" class="section section--contact js-effect">
    <div class="wrap">
        <div class="contactHere">
            <div class="contactHere__text">
              <div class="button"><a href="mailto:info@hot-staff.co.jp?subject=サイトからのお問い合わせ&amp;body=【お名前】【折返しご連絡先】【お問い合わせ内容】">CONTACT US</a></div>
                <p><span class="fade"><span class="fade__element">お気軽にお問い合わせください。</span></span></p>
            </div>
            <div class="contactHere__bg">
                <span class="mask"><span class="mask__element"><video class="videoElement" autoplay loop src="/assets/img/mv-video.mp4" /></span></span>
            </div>

        </div>
    </div>
</section>