<header class="siteHeader">
	<div class="wrap">
		<h1 class="siteHeader__logo">
			<a href="/"><img src="<%- $path %>../img/logo.svg" width="120" alt="HOT STAFF"></a>
		</h1>
		<div class="siteHeader__button button">
			<a href="mailto:info@example.com?subject=サイトからのお問い合わせ&amp;body=【お名前】【折返しご連絡先】【お問い合わせ内容】">CONTACT</a>
		</div>
	</div>
</header>

