<header class="siteHeader">
	<div class="wrap">
		<h1 class="siteHeader__logo">
			<a href="/"><img src="<%- $path %>../img/logo.svg" width="120" alt=""></a>
		</h1>
		<div class="siteHeader__button button">
			<a href="">CONTACT</a>
		</div>
	</div>
</header>

